{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react",
    "^next",
    "^convex|@convex",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/convex/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/app/(.*)$",
    "^./(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
